@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f7fafc;
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  padding: 1rem;
  min-height: 100vh;
  margin: auto;
}

/* container style */
.container {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  padding: 30px 15px;
}

header style .header {
  text-align: center;
}

.header__heading {
  color: #2d3748;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.header__subheading {
  color: #2d3748;
  font-weight: bold;
  font-size: 1rem;
  /* margin-bottom: 3.75rem; */
  margin-bottom: 2rem;
}

.details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.detail__left-content {
  color: #4a5568;
}

.detail__left-link {
  color: #2b6cb0;
}

.detail__right {
  display: flex;
  gap: 1rem;
}

.detail__right-plan,
.detail__right-currency {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.detail__right-plan select,
.detail__right-currency select {
  background-color: #cbd5e0;
  border-radius: 100px;
  border: none;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  color: #fff;
}

.details .detail__right .detail__right-plan,
.details .detail__right .detail__right-currency {
  display: flex;
}

hr {
  width: 100%;
  margin: 2.5rem 0 1.5rem 0;
}

.card__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.card {
  background-color: #fff;
  border: 1px solid black;
  flex-basis: 33.33%;
}

.card__container {
  padding: 20px 10px;
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__header h2 {
  font-size: 1.875rem;
  font-weight: bold;
}

.card__details {
  margin: 2.5rem 0;
}

.card__details-price {
  text-align: center;
  font-size: 3.125rem;
  margin-bottom: 2.5rem;
}

.card__feature ul {
  padding-left: 2.1875rem;
}

.card__feature ul li {
  margin-bottom: 2.1875rem;
  font-weight: bold;
}

.card__feature ul li:last-of-type {
  margin-bottom: 0;
}

.card__feature ul li::marker {
  color: #cbd5e0;
}

.btn {
  width: 100%;
  background-color: #edf2f7;
  padding: 1rem 2rem;
  border: none;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .card__wrapper {
    flex-wrap: wrap;
  }

  .card {
    flex-basis: 48%;
  }

  .details {
    flex-direction: column;
  }

  .detail__left {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 525px) {
  .card {
    flex-basis: 100%;
  }
}

@media screen and (max-width:378px) {
  .detail__right {
    width: 100%;
    flex-direction: column;
  }
}